@import '../../assets/styles/vars';

.Button {
    position: relative;
    border: none;
    padding: 0;
    color: $color-white;
    background: transparent;
    font-family: inherit;
    font-size: 100%;
    outline: none;
    cursor: pointer;

    &-Text { -webkit-font-smoothing: antialiased; }

    &:hover .Button-Icon_withHover {
        &::before { opacity: 0; }
        &::after { opacity: 1; }
    }

    &_shape_rect {
        &.Button_size_s {
            font-size: $font-size-m;
            line-height: $line-height-m;
        }
    }

    &_weight_normal .Button-Text { font-weight: 400; }
    &_weight_bold .Button-Text { font-weight: 700; }

    &_upper .Button-Text { text-transform: uppercase; }
}
