@import '../../assets/styles/mixins';

$icon-types: send arrow-left;

.Icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    @each $type in $icon-types {
        &_type_#{$type}::before {
            background-image: url('./types/#{$type}.svg');
        }
    }

    @each $type in $icon-types {
        &_hover_#{$type} {
            &::before {
                opacity: 1;
                transition: opacity 0.3s $nice-ease;
            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-image: url('./types/#{$type}.svg');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                opacity: 0;
                transition: opacity 0.3s $nice-ease;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    &_size_m {
        width: 22px;
        height: 22px;
    }

    &_size_s {
        width: 20px;
        height: 20px;
    }

    &_size_xs {
        width: 14px;
        height: 14px;
    }
}
