
/* TYPOGRAPHY
   =============================================== */

$font-size-xs: 11px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 18px;
$font-size-xl: 24px;
$font-size-xxl: 90px;

$line-height-xs: 14px;
$line-height-s: 16px;
$line-height-m: 20px;
$line-height-l: 24px;
$line-height-xl: 28px;
$line-height-xxl: 75px;

$base-font-family: Karla, sans-serif;

/* COLORS
   =============================================== */

$color-bg: #00a0ff;
$color-white: #ffffff;
$color-black: #000000;
$color-pink: #ad807d;
$color-pink-light: #ffbdb8;

/* OTHER
   =============================================== */

$nice-ease: cubic-bezier(0.62, 0.28, 0.23, 0.99);
